
 /* Reset de estilos básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos de la tarjeta */
  
  .card-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 140px auto; 
  }  
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    display: inline-block;
    vertical-align: top;


  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-specialty {
    font-size: 1rem;
    color: #ed9191b4;
    margin-bottom: 8px;
  }
  
  .card-description {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  body{
    background-color: #fff;
  }

  

  