

body{
  background-color: antiquewhite;
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #e2dddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 05px;
    border: 1px solid #111010;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 03px 0;
    position: fixed;
    bottom: 0;
    width: 100%;}
  